<ng-container *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h1>{{post.title}}</h1>
      <button class="btn btn-link" routerLink="/">На главную</button>
    </div>

    <div class="info">
      <strong>Автор: {{post.author}}</strong>
      <small>{{post.date | date: 'd LLL y, H:mm': undefined : 'ru'}}</small>
    </div>

    <quill-view-html [content]="post.text"></quill-view-html>

  </div>
</ng-container>
<ng-template #loading>
  <p class="text-center">Загружаю пост</p>
</ng-template>
